<h1>Smite Tier list</h1>
<div class="board">
  <app-row tier="SS" classe="label ss"></app-row>
  <app-row tier="S+" classe="label sPlus"></app-row>
  <app-row tier="S" classe="label s"></app-row>
  <app-row tier="A+" classe="label aPlus"></app-row>
  <app-row tier="A" classe="label a"></app-row>
  <app-row tier="B+" classe="label bPlus"></app-row>
  <app-row tier="B" classe="label b"></app-row>
  <app-row tier="C" classe="label c"></app-row>
  <app-row tier="D" classe="label d"></app-row>
</div>
<div class="gods-board">
  <gods-display></gods-display>
</div>
